* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body {
	display: flex;
	flex-direction: column;
	height: 100vh;

	font-family: Inter, serif;
	color: #030616;
}
/* HEADER */
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	margin: 4rem 0;
}

h2,
h1 {
	font-weight: 600;
}

/* MAIN */
.main {
	display: flex;
	flex-direction: column;
	gap: 2.25rem;
	background-color: rgba(210, 213, 218, 0.1);
}

.main_track-order {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 4rem 1.25rem 0 1.75rem;
}

.main_track-order_list {
	display: flex;
	flex-direction: column;

	font-weight: 400;
	font-size: 1rem;
	line-height: 2rem;
}

a {
	text-decoration: none;
	color: #4e80ee;
}

ol,
ul {
	padding-left: 0;
	list-style-position: inside;
}

p {
	font-weight: 400;
	font-size: 1rem;
	line-height: 2rem;
	margin-left: -0.25rem;
}

.main_return-policy {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 0 1.25rem 4rem 1.75rem;
}

.main_return-policy_list {
	display: flex;
	flex-direction: column;

	font-weight: 400;
	font-size: 1rem;
	line-height: 2rem;
}

/* FOOTER */
.author-info {
	font-size: 14px;
	text-align: center;
	margin-top: 16px;
	color: rgb(55, 65, 81);
}

.author-info a {
	text-decoration: none;
}
