* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	height: 100vh;

	font-family: Inter, serif;
	color: #030616;

	width: 640px;
}
/* HEADER */
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	margin: 3rem 3rem 0;
}

h2, h1 {
	font-weight: 600;
}

/* MAIN */
.main {
	display: flex;
	flex-direction: column;
	gap: 2.25rem;
	background-color: rgba(210, 213, 218, 0.1);

	padding: 3rem;
}

.main_track-order {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.main_track-order_list {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

a {
	text-decoration: none;
	color: #4E80EE;
}

.main_return-policy {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.main_return-policy_list {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;

}

/* FOOTER */
.author-info {
	font-size: 14px;
	text-align: center;
	margin-top: 16px;
	color: rgb(55, 65, 81);
}

.author-info a {
	text-decoration: none;
}
